################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AstronomyDisplay/v15/.suo
/.vs
/AstronomyDisplay/Local settings
/AstronomyDisplay/Global settings